/*Product image*/
.vs-product-image {
  width: 100%;
  height: 100%;
  position: relative;
}

.vs-product-image-wrapper {
  height: 305px;
  width: auto;
  margin: 0 auto;
  cursor: pointer;
}
@media (max-width: 1200px) {
  .vs-product-image-wrapper {
    height: 245px;
  }
}
@media (max-width: 768px) {
  .vs-product-image-wrapper {
    height: 240px;
  }
}
@media (max-width: 500px) {
  .vs-product-image-wrapper {
    height: 180px;
  }
}
.vs-product-image-wrapper .vs-wrap-wrapper {
  height: 100%;
  width: 100%;
}
.vs-product-image-wrapper .vs-product-icon-hover-container {
  display: none;
}
.vs-product-image-wrapper .vs-product-icon-hover-container .vs-product-cart-hover .vs-find-similar {
  width: 100%;
}
.vs-product-image-wrapper .vs-product-icon-hover-container .vs-product-cart-hover .vs-similar {
  top: 6px;
}
@media (max-width: 500px) {
  .vs-product-image-wrapper .vs-product-icon-hover-container {
    display: table;
    position: absolute;
    bottom: 0;
    z-index: 10;
    float: none;
    padding-right: 0;
    padding-left: 0;
  }
  .vs-product-image-wrapper .vs-product-icon-hover-container .vs-product-cart-hover-wrapper {
    padding: 3px 5px;
  }
  .vs-product-image-wrapper .vs-product-icon-hover-container .vs-product-cart-hover {
    background-color: rgba(210, 210, 210, 0.3);
    font-size: 0.8em;
    text-align: center;
    border-radius: 3px;
    line-height: 35px;
  }
  .vs-product-image-wrapper .vs-product-icon-hover-container .vs-product-cart-hover:hover {
    background-color: rgba(210, 210, 210, 0.5);
  }
}
.vs-product-image-wrapper:hover .vs-product-icon-hover-container {
  display: table;
  position: absolute;
  bottom: 0;
  z-index: 10;
  float: none;
  padding-right: 0;
  padding-left: 0;
}
.vs-product-image-wrapper:hover .vs-product-icon-hover-container .vs-product-cart-hover-wrapper {
  padding: 3px 5px;
}
.vs-product-image-wrapper:hover .vs-product-icon-hover-container .vs-product-cart-hover {
  background-color: rgba(210, 210, 210, 0.3);
  font-size: 0.8em;
  text-align: center;
  border-radius: 3px;
  line-height: 35px;
}
.vs-product-image-wrapper:hover .vs-product-icon-hover-container .vs-product-cart-hover:hover {
  background-color: rgba(210, 210, 210, 0.5);
}
